<% include ../partials/header.ejs %>

<!-- MAIN CONTENT -->
<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <h1 class="text-center">Favourite Books List </h1></br>

      <!-- add button to insert new book -->
      <a href="/books/add" class="btn btn-primary"><i class="fa fa-plus"></i> Add a book</a>
      <br>
      </br></br>
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
          <!-- table header -->
          <thead>
            <tr>
              <th>Title</th>
              <th class="text-center">Description</th>
              <th class="text-center">Price</th>
              <th class="text-center">Author</th>
              <th class="text-center">Genre</th>
              <th class="text-center"></th>
              <th class="text-center"></th>
            </tr>
          </thead>
          <tbody>
            <!-- Template Row -->
            <% for (let count = 0; count < bookList.length; count++) { %>
            <tr>
              <td><%= bookList[count].Title %></td>
              <td><%= bookList[count].Description %></td>
              <td class="text-center">$<%= bookList[count].Price %></td>
              <td class="text-center"><%= bookList[count].Author %></td>
              <td class="text-center"><%= bookList[count].Genre %></td>

              <!-- edit button to insert new book -->
              <td class="text-center">
                <a href="/books/edit/<%= bookList[count]._id %>" class="btn btn-primary"><i
                    class="fas fa-pencil-alt"></i> Edit</a>
              </td>

              <!-- delete button to insert new book -->
              <td class="text-center">
                <a href="/books/delete/<%= bookList[count]._id %>" class="btn btn-danger"><i
                    class="fas fa-trash-alt"></i> Delete</a>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
      <div class="col-md-offset-1 col-md-10 text-center">
        <ul class="pagination pagination-lg pager" id="myPager"></ul>
      </div>
    </div>
  </div>
</div>

<% include ../partials/footer.ejs %>